.form-create {
  flex: 1;
  &__edit {
    align-items: center;
    padding: 20px;
    background-color: #e2e2e2;
    transition: background-color 0.3s;
    min-width: 300px;
    flex-shrink: 0;
    &--drop {
      background-color: #c2c2c2;
    }
    &__title {
      color: #333;
      font-size: 28px;
    }
    &__desc {
      font-size: 24px;
      color: #666;
      margin-top: 20px;
    }
  }
  &--row {
    flex-direction: row;
    width: 100%;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}
.form-drag-drop {
  transition: opacity 0.2s;
  justify-content: stretch;
  align-items: stretch;
  &--hover {
    opacity: 0.1;
  }
  &--row {
    flex-direction: row;
  }
  &__add{
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    flex-shrink: 0;
    &__text{
      font-size: 24px;
      color: #999;
    }
  }
}
